# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# env files
.env
#env.json # !! YOU HAVE TO ADD THIS !! IT IS EXPOSED ONLY FOR DEMONSTRATION PURPOSE !!

# build output
.aws-sam/
greeting-service
hello-world

# dependency directories
node_modules/

# sam config
samconfig.toml

# openapi output
docs/